@import "tailwindcss";

@font-face {
  font-family: "Geist Black";
  src: url("../public/fonts/Geist-Black.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("../public/fonts/Geist-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist Light";
  src: url("../public/fonts/Geist-ExtraLight.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-snow: #fff;
  --color-future-blue: #0b468c;
  --color-dark-blue: #092047;
  --color-future-stone: #575267;
  --font-geist-black: "Geist Black";
  --font-geist-light: "Geist Light";
  --font-geist: "Geist";
}
