services:
  postgres_db:
    restart: unless-stopped
    image: postgres:17
    volumes:
      - postgres_db:/var/lib/postgresql/data
    env_file:
      - .env
    environment:
      - POSTGRES_DB=${DATABASE__DB}
      - POSTGRES_USER=${DATABASE__USERNAME}
      - POSTGRES_PASSWORD=${DATABASE__PASSWORD}
    ports:
      - "${DATABASE__PORT}:5432"

  server:
    build:
      context: ./server
      dockerfile: Dockerfile.dev
    container_name: sketchbridge-server
    working_dir: /app
    env_file:
      - .env
    volumes:
      - ./server:/app
      - /app/.venv
    ports:
      - "8000:8000"
    environment:
      PYTHONUNBUFFERED: 1
    command: uv run uvicorn src.main:app --host 0.0.0.0 --port 8000 --reload

  client:
    build:
      context: ./client
      dockerfile: Dockerfile.dev
    container_name: sketchbridge-client
    working_dir: /app
    env_file:
      - .env
    volumes:
      - ./client:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    environment:
      - NODE_ENV=development
    command: npm run dev -- --host

volumes:
  postgres_db:
